PORT=3000
FRONTEND_ORIGIN=http://localhost:3001
DEMO_USER_EMAIL=admin@sns-erp.local
DEMO_USER_PASSWORD=ChangeMe123!
DEMO_USER_NAME=SNS ERP Admin
DATABASE_URL="postgresql://postgres.jekzyhlqrrmskzzhfxkv:yukesh@insta123@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.jekzyhlqrrmskzzhfxkv:yukesh@insta123@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"
